/* 
reset
 */

 *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
 }

 *{
    font-family: 'Open Sans', sans-serif;
 }

/* 
general
 */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

 .container-header-bottom{
    max-width: 1200px;
    margin: 0 auto;
    
    
 }

 .container-main {
    max-width: 600px;
    margin: 0 auto;
 }

 .main-container-prova-gratuita{
    max-width: 600px;
    margin: 0 auto;
 }

 .main-container-domande {
    max-width: 600px;
    margin: 0 auto;
 }

/* 
header
 */
    
.header-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

} 

img{
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0 10px;
    align-items: center;

    
}

li {
    padding: 0 10px 0 10px;      
}

a {
 
    color: black;
    text-decoration: none;  
}

button {
    background-color: #2196F3;
    padding: 0 10px;
    color: white;
    
}

  




/* 
header bottom 
*/


.header-bottom{
    background-color:#B4D0E7 ;
    display: flex;
    align-items: center;
    height: 500px; 
}

h1{
   background-color: lightcoral;
   height: 50px;
}

.img-header-bottom {
    height: 300px;
    width: 60%;
    margin-right: 100px;
}

.text-header-bottom {
    height: 300px;
    width: 40%;
    margin-left: 100px;
}

.left i{
    display: block;
    margin-top: 30px;
}

.text-1{
    margin-bottom: 30px;
}

.text-2{
    margin-top: 30px;
}

.img-header-bottom img{
   width: 100%;
}

/* 
main top 
*/


.column-main-top {

}

.title-main-top{
    text-align: left;
    margin-top: 30px;
   
}

.radio-main-top{   
    margin: 30px 0;
}

#radio{
    margin-left: 30px;
}

.container-column {
    display: flex;
  }
  
  .column {
    flex-basis: 33.33%;
    background-color: #f2f2f2;
    padding: 0 20px;
    margin-right: 10px;
    font-size: 7pt;
    border: 1px solid gray;
  }

  

  .column h2, p{
    margin: 15px;
  }

  .button-main-top {
    background-color: #2196F3;
    padding:5px 10px;
    color: white;
    font-size: unset;  
}


.acquista-ora{
    color: #2196F3;
}

.fa-check{
    color: #2196F3;
}

.horizontal-column-main {
    height: 150px;
}

.title-horizontal-column {
    margin-top: 30px;
    height: 20px;
    background-color: gray;
    border: 2px dashed red;
}

.container-horizontal-column {
    display: flex;
    flex-wrap: nowrap;
    height: 80px;
    background-color: yellow;
} 

.enterprise {
    height: 150px;
    width: 75%;
    background-color: blueviolet;
    border: 2px dashed red;
}

.button-horizontal-column {
    height: 150px;
    width: 25%;
    background-color: lightcoral;
    border: 2px dashed red;

}

/* 
main center
*/

.main-center-1{
    background-color: pink;
    display: flex;
    margin-top: 100px;
   
}

.img-main-center-1 {
    height: 300px;
    width: 60%;
    background-color: lightseagreen;
    border: 2px dashed red;
}

.text-main-center-1 {
    height: 300px;
    width: 40%;
    background-color: lightseagreen;
    border: 2px dashed red;
}

/* 
main center 2 
*/

.main-center-2 {
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    
}

.title-main-center-2 {
    width: 100%;
    height: 100px;
    background-color: lightsalmon;
    border: 2px dashed red;
    margin-bottom: 30px;
}

.card-1{
    height: 300px;
    background-color: lightgreen;
    width: calc((100% / 3) - 15px);
    border: 1px dashed red;
}

.card-2{
    height: 300px;
    background-color: lightgreen;
    width: calc((100% / 3) - 30px);
    border: 1px dashed red;
    margin: 0 30px 30px 30px;
}

.card-3{
    height: 300px;
    background-color: lightgreen;
    width: calc((100% / 3) - 15px);
    border: 1px dashed red;
}

.card-4{
    height: 300px;
    background-color: lightgreen;
    width: calc((100% / 3) - 15px);
    border: 1px dashed red;
}

.card-5{
    height: 300px;
    background-color: lightgreen;
    width: calc((100% / 3) - 30px);
    border: 1px dashed red;
    margin: 0 30px 0 30px;
    
}

.card-6{
    height: 300px;
    background-color: lightgreen;
    width: calc((100% / 3) - 15px);
    border: 1px dashed red;
}

.main-center-2-end {
    margin-top: 100px;
    width: 100%;
    height: 200px;
    background-color: lightcoral;
    border: 2px dashed red;
}


/* 
main box img 
*/

.main-container-box {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.container-box-1 {
    height: 200px;
    background-color: lightsalmon;
    /* border: 2px dashed red; */
    display: flex;
    flex-wrap: wrap;   
}


.box-1{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
  
} 

.img-1 {
    width: calc(50%);
    height: calc(50%);
    border: 1px dashed red;
}
.img-2 {
    width: calc(50%);
    height: calc(50%);
    border: 1px dashed red;
}
.img-3 {
    width: calc(50%);
    height: calc(50%);
    border: 1px dashed red;
}
.img-4 {
    width: calc(50%);
    height: calc(50%);
    border: 1px dashed red;
}

.main-container-box-2 {
    height: 200px;
    background-color: lightsalmon;
    /* border: 2px dashed red; */
    display: flex;
    flex-wrap: wrap;  
    
}


.box-2 {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.main-container-box-3 {
    height: 200px;
    background-color: lightsalmon;
    /* border: 2px dashed red; */
    display: flex;
    flex-wrap: wrap;   
}


.box-3 {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.img-5 {
    width: calc(50%);
    height: calc(50%);
    border: 1px dashed red;
}
.img-6 {
    width: calc(50%);
    height: calc(50%);
    border: 1px dashed red;
}
.img-7 {
    width: calc(50%);
    height: calc(50%);
    border: 1px dashed red;
}
.img-8 {
    width: calc(50%);
    height: calc(50%);
    border: 1px dashed red;
}

/* 
prova gratuita 
*/



.container-prova-gratuita {
    background-color: blue;
    padding: 50px;
    height: 200px;
           
}
 
.prova-gratuita{
    background-color: aquamarine;
    height: 100px;
    border: 2px dashed red;
    
}

.container-domande {
    background-color: lightcoral;
    padding: 50px;
    height: 400px;
           
}

.domande{
    background-color: lightseagreen;
    height: 300px;
    border: 2px dashed red;
    
}